<nav class="navbar navbar-inverse">
  <ul class="nav navbar-nav">
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/login">LOg Out</a></li>
  </ul>
  
</nav>

<div class="container">
  <h3>Navbar Text</h3>
  <p>Use the .navbar-text class to vertical align any elements inside the navbar that are not links (ensures proper padding).</p>
</div>

