<!-- <p>
  login works!
</p> -->

<form class="modal-content animate" #formDetail="ngForm" (ngSubmit)="savaData(formDetail)">
 
  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" #userNameControl="ngModel" placeholder="Enter Username" name="uname" [(ngModel)]="uname" required minlength="4">
    <div *ngIf="userNameControl.invalid && (userNameControl.dirty || userNameControl.touched)"
    class="alert alert-danger">

      <div *ngIf="userNameControl.errors.required">
        Username is required.
      </div>
      <div *ngIf="userNameControl.errors.minlength">
        Username must be at least 4 characters long.
      </div>
      <div *ngIf="userNameControl.errors.forbiddenName">
        Username cannot be Bob.
      </div>

    </div>

    <label for="psw"><b>Password</b></label>
    <input type="password" #passwordControl="ngModel" placeholder="Enter Password" name="psw" [(ngModel)]="psw" required>
    <div *ngIf="passwordControl.invalid && (passwordControl.dirty || passwordControl.touched)"
    class="alert alert-danger">

      <div *ngIf="passwordControl.errors.required">
        Password is required.
      </div>
      <div *ngIf="passwordControl.errors.minlength">
        Password must be at least 4 characters long.
      </div>
      <div *ngIf="passwordControl.errors.forbiddenName">
        Password cannot be Bob.
      </div>

    </div>

    <button type="submit" routerLink="/home" [disabled]="formDetail.invalid">Login</button>
  </div>
</form>

<!-- <button routerLink="/home">Home</button> -->