<app-header></app-header>
<h1 *ngIf = "show">{{welcome}}</h1>
<button (click) = "submission()">submit</button>
<div *ngIf = "hide"><h2 *ngFor="let dd of data">{{dd.name}}</h2></div>
Name:<input [(ngModel)] = "welcome">
<!-- <input type="text" [(ngModel)]="myModel"/> -->

<div class="container">
  <h2>Button Styles</h2>
  <button type="button" class="btn">Basic</button>
  <button type="button" class="btn btn-default">Default</button>
  <button type="button" class="btn btn-primary">Primary</button>
  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-info">Info</button>
  <button type="button" class="btn btn-warning">Warning</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-link">Link</button>      
</div>

<h1>{{welcome}}</h1>

<form #formDetail="ngForm" (ngSubmit)="savaData(formDetail)">
    First name:<br>
    <input type="text" name="firstName" [(ngModel)] = "firstName" required>
    <br>
    Last name:<br>
    <input type="text" name="lastName" #lastNameControl="ngModel"  [(ngModel)] = "lastName" required >
    <div [hidden]="lastNameControl.valid || lastNameControl.pristine"
     class="alert alert-danger">
  Name is required
</div>
    <br><br>
    <input type="submit" value="Submit">
  </form> 

<!-- {{formDetail.value | json}} -->




<button routerLink="/login">Logout</button>































<!-- <button (click)= "onClick()">Click me</button>
{{name}}
<h1 (click) = "headerClick()">Hii this is new file</h1>

<p *ngIf="hide" >Hide/show me</p>


<h2 *ngIf="hide">hrhrrh</h2>


<div *ngIf="hide">heheheh</div>

<h1 *ngFor="let list of lists">
{{list.id}}
{{list.name}}

</h1> -->